# Sample template for Garvel.gl

{
    "project": {
        "package": {
            "name" : "HelloWorld",
            "version" : "0.1.0",
            "authors" : [ "me@me.com" ],
            "description" : "A simple Hello, world project!",
            "homepage" : "http://example.com/hello_world",
            "readme" : "https://example.com/hello_world/readme.html",
            "keywords" : [ "basic", "hello world"],
            "categories" : [ "standalone", "jar" ],
            "licence" : "MIT",
            "licence-file": "custom-licence-path",
            "classpath" : [ "./" ] # apart from the dependencies
        },

        "dependencies": {
            "junit" : "4.1.2", # exact version
            "log4j" : "*" # latest version
        },

        # empty properties are not allowed
        "lib": {
            "path" : "/lib"
        },

        "bin": {
            "class" : "/bin/Main"
        }
    }
}